node_modules
node-jiti
.DS_Store
dist
.cache
.turbo

tests/server/static
tests/server/static/upload

.local
# local env files
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json
pnpm-lock.yaml
pnpm
pnpm.cmd
pnpm.ps1
pnpx
pnpx.cmd
pnpx.ps1
simple-admin@1.3.3

.history
